<config>
    <modules>
        <Mundipagg_Paymentmodule>
            <version>0.0.1</version>
        </Mundipagg_Paymentmodule>
    </modules>

    <global>
        <models>
            <paymentmodule>
                <class>Mundipagg_Paymentmodule_Model</class>
                <resourceModel>paymentmodule_resource</resourceModel>
            </paymentmodule>

            <paymentmodule_resource>
                <class>Mundipagg_Paymentmodule_Model_Resource</class>
                <entities>
                    <customer>
                        <table>mundipagg_paymentmodule_customer</table>
                    </customer>

                    <order>
                        <table>mundipagg_paymentmodule_order</table>
                    </order>

                    <charge>
                        <table>mundipagg_paymentmodule_charge</table>
                    </charge>
                </entities>
            </paymentmodule_resource>

            <sales>
                <rewrite>
                    <order_payment>Mundipagg_Paymentmodule_Model_Payment</order_payment>
                </rewrite>
            </sales>
        </models>

        <helpers>
            <paymentmodule>
                <class>Mundipagg_Paymentmodule_Helper</class>
            </paymentmodule>
        </helpers>
        
        <blocks>
            <paymentmodule>
                <class>Mundipagg_Paymentmodule_Block</class>
            </paymentmodule>
        </blocks>

        <fieldsets>
            <sales_convert_quote_payment>
                <check_no>
                    <to_order_payment>*</to_order_payment>
                </check_no>
                <check_date>
                    <to_order_payment>*</to_order_payment>
                </check_date>
            </sales_convert_quote_payment>
        </fieldsets>

        <events>
            <mundipagg_payment_start>
                <observers>
                    <mundipagg_paymentmodule_payment_start_event_observer>
                        <class>paymentmodule/observer</class>
                        <method>requireDependencies</method>
                    </mundipagg_paymentmodule_payment_start_event_observer>
                </observers>
            </mundipagg_payment_start>
        </events>
    </global>

    <frontend>
        <routers>
            <paymentmodule>
                <use>standard</use>
                <args>
                    <module>Mundipagg_Paymentmodule</module>
                    <frontName>mundipagg</frontName>
                </args>
            </paymentmodule>
        </routers>
    </frontend>

    <default>
        <mundipagg_config>
            <general_group>
                <module_status>1</module_status>
                <logs>1</logs>
                <test_mode>1</test_mode>
            </general_group>
            <boleto_group>
               <boleto_status>0</boleto_status>
               <boleto_payment_title>Boleto</boleto_payment_title>
               <boleto_due_at>3</boleto_due_at>
            </boleto_group>
            <creditcard_group>
                <cards_config_status>0</cards_config_status>
                <creditcard_payment_title>Credit card</creditcard_payment_title>
                <operation_type>AuthAndCapture</operation_type>
            </creditcard_group>
        </mundipagg_config>

        <payment>
            <paymentmodule_creditcard>
                <model>paymentmodule/creditcard</model>
                <title>Mundipagg - credit card</title>
                <allowspecific>0</allowspecific>
                <active>1</active>
                <payment_action>authorize</payment_action>
            </paymentmodule_creditcard>

            <paymentmodule_boleto>
                <model>paymentmodule/boleto</model>
                <title>Mundipagg - boleto</title>
                <allowspecific>0</allowspecific>
                <active>1</active>
                <payment_action>authorize</payment_action>
            </paymentmodule_boleto>
        </payment>
    </default>
</config>
