<config>
    <modules>
        <Mundipagg_Paymentmodule>
            <version>0.0.1</version>
        </Mundipagg_Paymentmodule>
    </modules>

    <global>
        <models>
            <paymentmodule>
                <class>Mundipagg_Paymentmodule_Model</class>
            </paymentmodule>
        </models>

        <helpers>
            <paymentmodule>
                <class>Mundipagg_Paymentmodule_Helper</class>
            </paymentmodule>
        </helpers>
        
        <blocks>
            <paymentmodule>
                <class>Mundipagg_Paymentmodule_Block</class>
            </paymentmodule>
        </blocks>
    </global>

    <default>
        <mundipagg_config>
            <general_group>
                <module_status>1</module_status>
                <logs>1</logs>
                <test_mode>1</test_mode>
            </general_group>
            <boleto_group>
               <boleto_status>0</boleto_status>
               <boleto_payment_title>Boleto</boleto_payment_title>
               <boleto_due_at>3</boleto_due_at>
            </boleto_group>
            <creditcard_group>
                <cards_config_status>0</cards_config_status>
                <creditcard_payment_title>Credit card</creditcard_payment_title>
                <operation_type>AuthAndCapture</operation_type>
            </creditcard_group>
        </mundipagg_config>
    </default>
</config>
