<config>
    <modules>
        <Mundipagg>
            <version>0.1.0</version>
        </Mundipagg>
    </modules>
    <global>
        <models>
            <mundipagg>
                <class>Mundipagg_Model</class>
            </mundipagg>
        </models>
        
        <helpers>
            <mundipagg>
                <class>Mundipagg_Helper</class>
            </mundipagg>
        </helpers>
        
        <blocks>
            <mundipagg>
                <class>Mundipagg_Block</class>
            </mundipagg>
        </blocks>
    </global>
    <default>
        <mundipagg>
            <general_group>
                <module_status>1</module_status>
                <logs>1</logs>
                <test_mode>1</test_mode>
            </general_group>
            <boleto_group>
               <boleto_status>0</boleto_status> 
               <boleto_payment_title>Boleto</boleto_payment_title>
               <boleto_due_at>3</boleto_due_at>
            </boleto_group>
            <creditcard_group>
                <cards_config_status>0</cards_config_status>
                <creditcard_payment_title>Credit card</creditcard_payment_title>
                <operation_type>AuthAndCapture</operation_type>
            </creditcard_group>
        </mundipagg>
    </default>
</config>