<config>
    <modules>
        <Mundipagg>
            <version>0.1.0</version>
        </Mundipagg>
    </modules>
    <global>
        <models>
            <mundipagg>
                <class>Mundipagg_Model</class>
            </mundipagg>
        </models>
        <helpers>
            <mundipagg>
                <class>Mundipagg_Helper</class>
            </mundipagg>
        </helpers>
    </global>
</config>