<config>
    <modules>
        <Mundipagg>
            <version>0.1.0</version>
        </Mundipagg>
    </modules>
    <global>
        <models>
            <mundipagg>
                <class>Mundipagg_Model</class>
            </mundipagg>
        </models>
        
        <helpers>
            <mundipagg>
                <class>Mundipagg_Helper</class>
            </mundipagg>
        </helpers>
        
        <blocks>
            <mundipagg>
                <class>Mundipagg_Block</class>
            </mundipagg>
        </blocks>
    </global>
    <default>
        <mundipagg>
            <general_group>
                <moduleStatus>1</moduleStatus>
                <logs>1</logs>
                <testMode>1</testMode>
            </general_group>
        </mundipagg>
    </default>
</config>