<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <mundipagg translate="label" module="mundipagg">
            <label>Mundipagg</label>
            <sort_order>100</sort_order>
        </mundipagg>
    </tabs>
    <sections>
        <payment>
            <groups>
                <mundipagg translate="label" module="mundipagg">
                    <label>Mundipagg</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>1</sort_order>
                        </title>
                    </fields>
                </mundipagg>
            </groups>
        </payment>
        <mundipagg translate="label" module="mundipagg">
             <label><![CDATA[<div style="position: absolute;"><img id="magepal_block" src="" alt="" border="0" width="16" /> &nbsp;Mundipagg</div>&nbsp;<script>$('magepal_block').src = "https://dashboard.mundipagg.com/images/logo-mundipagg-versao-reduzida.png";</script>]]></label>
            <tab>mundipagg</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
 
            <groups>
                <mundipagg_group translate="label" module="mundipagg">
                    <label>Mundipagg - Configurações gerais</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <messages translate="label">
                            <label>Config Fields</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                
                        </messages>
                    </fields>
                </mundipagg_group>
            </groups>
        </mundipagg>
    </sections>
</config>